// Font Family
$font-family-primary: 'PP Neue Montreal';

// Font Weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colors
$brand1: #191919; // background
$brand2: #333333; // divider

$grey-1: #fff; // text / title
$grey-2: #FDFAF6; //border / text
