@import '../../assets/scss/variables';

.CatgWrap {
    padding-top: 71px;
    transition: all 0.5s ease-in-out;
    scroll-margin-top: 71px;

    &.sticky {
        padding-top: 120px;
    }
}

.Catghead {
    padding-bottom: 28px;
}

.CatgTitle {
    font-family: $font-family-primary;
    font-weight: $font-weight-medium;
    font-size: 32px;
    line-height: 32px;
    color: $grey-1;
}
